<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
	<a href="/"> На главную </a>
	<a href="/json"> Json </a><br>
	<a href="/stats"> Статистика </a>
	<p>Поиск по информации об участниках опроса</p>
	<form>
		<p><b>Пол:</b></p>
		<input type="radio" name="sex" value="мужской">мужской<Br>
		<input type="radio" name="sex" value="женский">женский<Br>
		<input type="radio" name="sex" value="женский" checked>неважно<Br>
		<p><b>Возраст: </b> <input type="text" name="age" value=""></p>
		<p><b>Родной язык:</b> <input type="text" name="lang" value=""></p>
		<p><b>Родной город:</b> <input type="text" name="city" value=""></p>
		<p><b>Уровень образования:</b></p>
		<input type="radio" name="edu" value="неоконченное среднее">неоконченное среднее<Br>
		<input type="radio" name="edu" value="среднее">среднее<Br>
		<input type="radio" name="edu" value="среднеспециальное/профессиональное">среднеспециальное/профессиональное<Br>
		<input type="radio" name="edu" value="неоконченное высшее">неоконченное высшее<Br>
		<input type="radio" name="edu" value="высшее">высшее<Br>
		<input type="radio" name="edu" value="высшее" checked>неважно<Br>
		<input type="submit" value="Найти">
	</form>
</body>
</html>